:root {
  --purple: #731943;
  --black: #000000;
  --white: #ffff;
  --greywhite: #fdfdfd;
  --red: #ff0000;
  --lightgrey: #f5f5f5;
  --grey: #dddd;
  --darkgrey: #707070;
}

/*NEW CAROUSEL*/

.latest {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--purple);
  font-size: 1.7em;
}
.container {
  margin: 20px auto;
}

.carousel {
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
}

.slider {
  display: flex;
  height: 100%;
  width: 400%;
}

.slider section {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.posts {
  flex-direction: column;
  padding: 1%;
}

.latestTitle {
  color: var(--purple);
  font-size: 2em;
}

.latestTxt a {
  color: var(--black);
  font-size: 1.2em;
}

.latestTxtContent p {
  display: none;
}

.latestTxtContent img {
  display: none;
}

.latestTxtContent .wp-image-269,
.latestTxtContent .wp-image-262,
.latestTxtContent .wp-image-260,
.latestTxtContent .wp-image-281,
.latestTxtContent .wp-image-282,
.latestTxtContent .wp-image-237,
.latestTxtContent .wp-image-331,
.latestTxtContent .wp-image-231 {
  display: block;
  width: 40%;
  height: 40%;
}

.control {
  position: absolute;
  display: flex;
  left: 50%;
  cursor: pointer;
}

.control .arrow {
  font-size: 1.8em;
  color: var(--purple);
}

.arrow.left {
  padding: 1%;
  margin-left: -50%;
}

.arrow.right {
  padding: 1%;
  margin-left: 50%;
}

.arrow.left:hover,
.arrow.right:hover {
  font-size: 2em;
}

.allpostbtn {
  position: absolute;
  border: 1px solid var(--purple);
  border-radius: 10%;
  padding: 2px;
  font-size: 0.8em;
  left: 80%;
}
.allpostbtn:hover {
  text-decoration: underline var(--purple);
}
/* CAROUSEL END*/

/* MEDIA QUERY */

@media screen and (max-width: 2000px) and (min-width: 1241px) {
  .container {
    width: 80%;
  }
  .allpostbtn {
    font-size: 1em;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .latestTitle {
    font-size: 1.3em;
  }
  .latestTxt {
    font-size: 0.9em;
  }
  .allpostbtn {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 800px) and (min-width: 359px) {
  .latestTitle {
    font-size: 1.2em;
  }
  .latestTxt {
    font-size: 0.8em;
  }
  .allpostbtn {
    font-size: 0.6em;
  }
}

@media (max-width: 358px) {
  .latestTitle {
    font-size: 0.9em;
  }
  .latestTxt {
    font-size: 0.6em;
  }
  .allpostbtn {
    display: none;
  }
}
